:root {
  --ion-card-bg: rgba(255, 255, 255, 1);
  --ion-card-otp-bg: #f1f4f7;
  --ion-card-danger-bg: rgba(239, 68, 68, 0.1);
  --ion-card-text-color: #1e1e1e;
  --ion-card-item-bg: rgba(245, 246, 249, 1);
}

:root.dark {
  --ion-card-bg: rgba(28, 30, 36, 1);
  --ion-card-otp-bg: #30333a;
  --ion-card-danger-bg: rgba(239, 68, 68, 0.15);
  --ion-card-text-color: #ffffff;
  --ion-card-item-bg: rgba(23, 24, 25, 1);
}

.insurance-term-card {
  background-color: var(--ion-card-bg);
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 101px;
  max-height: 101px;
  &__title{
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-card-text-color);
  }
  &__list {
    display: flex;
    gap: 12px;
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    padding-bottom: 4px; 

    &::-webkit-scrollbar {
      display: none; 
    }
  }
  &__item {
    flex: 0 0 auto;
    height: 40px;
    max-height: 40px;
    background-color: var(--ion-card-item-bg);
    border-radius: 24px;
    padding: 8px 16px;
    color: var(--ion-card-text-color);
    white-space: nowrap; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
     cursor: pointer; 
    transition: background 0.2s, color 0.2s;

    &.selected {
      background-color: rgba(0, 122, 255, 0.1); 
      color: rgba(0, 122, 255, 1);            
    }
  }
}
