.gift-container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.gift-container-text {
  color: black;

  h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  p {
    color: #6b7280;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  button {
    border-radius: 12px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(0, 122, 255, 0.1);

    color: #007aff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
}


.gift-container-image{
  img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    object-fit: cover;
  }
}

.gift-close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #F5F5F5;
  padding: 4px;
  border-radius: 50%;


  .financial-profile__arrow-icon {


  }

}