:root {
  --account-card-bg: #FFFFFF;
  --account-card-logo-bg:#F5F6F9;
  --account-card-active-bg: rgba(245, 246, 249, 1);
  --account-card-name-color: #6B7280;;
  --account-card-sum-color: #1C1E24;
}

:root.dark {
  --account-card-bg: #1C1E24;
  --account-card-logo-bg:#262932;
  --account-card-active-bg: rgba(245, 246, 249, 1);
  --account-card-name-color: #F5F6F9;;
  --account-card-sum-color: #FFFFFF;
}

.account-card-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.account-card{
  display: flex;
  padding: 12px 16px;
  border-radius: 16px;
  background: var(--account-card-bg);
  align-items: center;
  justify-content: space-between;


  &__content{
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__logo{
    background: var(--account-card-logo-bg);
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &__icon{
      color: #007AFF;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 4px;

  }

  &__name{
    font-size: 14px;
    font-weight: 400;
    color: var(--account-card-name-color);

  }

  &__sum{
    font-size: 16px;
    font-weight: 400;
    color: var(--account-card-sum-color);
    line-height: 130%;
  }

}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #D1D5DB;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: #FFFFFF !important;

  &.checked {
    background: #2f80ed;
    border-color: #2f80ed;
  }

  &.checked-icon{
    color: #fff !important;

  }
}