:root {
  --icon-bg: rgba(255, 255, 255, 1);
  --icon-color: rgba(28, 30, 36, 1);
  --text-color: #07203A;
  --icon-right-color: #F7F8FA;
}

:root.dark {
  --icon-bg: rgba(28, 30, 36, 1);
  --icon-color: rgba(245, 245, 245, 1);
  --text-color: #fff;
  --icon-right-color: #EAEAEA;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 12px;

  &:last-child {
    border-bottom: none;
  }

  &__content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: var(--icon-bg);
    margin: 0;
    padding: 6px;
    border-radius: 50%;
  }

  &__icons {
    color: var(--icon-color) !important;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 16px;
  }

  &__bakai-logo{


    img{
      width: 100%;
      height: auto;
    }
  }


  &__right-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: var(--icon-bg);

    margin: 0;
    padding: 6px;
    border-radius: 50%;
  }

}