:root {
  --ion-select-bg: #ffffff;
  --ion-select-option-bg: #f5f6f9;
  --ion-select-text-color: #1e1e1e;
  --ion-select-active-border: #007aff;
}

:root.dark {
  --ion-select-bg: #ffffff;
  --ion-select-option-bg: #f5f6f9;
  --ion-select-text-color: #1e1e1e;
  --ion-select-active-border: #007aff;
}


.select {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;

  &__display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ion-select-bg);
    padding: 6px 12px;
    border-radius: 14px;
    transition: all 0.2s;
  }


ion-input{
  --background: var(--ion-select-bg);
  border-bottom: none;
  --padding-start:0px !important;
  --padding-end:0px !important;
}

  .input-highlight.sc-ion-input-md{
    display: none;
    border-bottom: none;
  }

  .input-fill-solid.sc-ion-input-md-h{
    --background: var(--ion-select-bg);
    --border-color:var(--ion-select-bg);

  }

  .sc-ion-input-md-h{
    --highlight-color-focused:#9CA3AF;
  }
input{
  font-size: 16px;
  font-weight: 400;
  color: var(--ion-select-text-color);
}



  &__icon {
    transform: rotate(90deg);
  }

}


