:root {
  --bg: rgba(255, 255, 255, 1);
  --text: #2D465B;
  --label_currency:#DBE5F5;
  --label_currency__color:#005CAA;
}

:root.dark {
  --bg: rgba(28, 30, 36, 1);
  --text: #B8BDC2;
  --label_currency:#1A3A50;
  --label_currency__color:#EAEAEA;
}

.wrapper {
  position: relative;
  --border-style: none;
  border-radius: 16px;
  --background: var(--bg);
}

.wrapper.error {
  --background: rgba(255, 0, 0, 0.1);
}



.label {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  inset-inline: -16; /* заменяет left/right */
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

  p{
    color: rgba(156, 163, 175, 1) !important;

  }
}

.amount-input {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  height: 59px;
  margin-bottom: 40px;
  color: var(--text);
  width: 100%;

}

.amount-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  height: 105px;
  width: 100%;
}



