:root.dark {
    --bg: rgba(28, 30, 36, 1);
    --text: #EAEAEA;
}

:root {
    --bg: rgba(255, 255, 255, 1);
    --text: #07203A;
}


.check-card{
    background-color: var(--bg);
    width: 100%;
    height: 272px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
    }

    &____status{
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        color: var(--text);
    }

    &__amount{
        font-size: 32px;
        font-weight: 600;
        line-height: 130%;
        color: var(--text);
    }



&__dividers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
    &__divider {
        width: 15px;
        height: 2px;
        background-color: rgba(229, 231, 235, 1);
        border-radius: 4px;
    }

    &__details{
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
    }

    &__type{
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        color: var(--text);
    }

    &__number{
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        color: var(--text);
    }
    &__date{
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        color: rgba(156, 163, 175, 1);
    }
}