:root {
    --phone_number_input_segment_bg: #F7F8FA;
    --phone_number_input_label_color: #07203A;
  }
  
  :root.dark {
    --phone_number_input_segment_bg: #071524;
    --phone_number_input_label_color: #EAEAEA;
  }
  
  .phone_picker_custom-label {
    font-size: 16px;
    color: var(--phone_number_input_label_color);
    line-height: 24px;
    margin-top: 16px;
  }
  
  .phone_picker_custom {
    display: flex;
    flex-direction: column;
  
    &__label {
      font-size: 1rem;
      color: #333;
      font-weight: 500;
    }
  
    .sms-code__row {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  
      .sms-code__row-prefix {
        height: 56px;
        border-radius: 8px;
        background-color: var(--phone_number_input_segment_bg);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 16px;
      }
  
      @media (max-width: 400px) {
        gap: 0.5rem;
      }
    }
  
    .sms-code__input {
      flex: 0 1 auto;
    }
  
    .input {
      width: 43px;
      height: 56px;
      border-radius: 12px;
      background-color: var(--phone_number_input_segment_bg);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border-color 0.2s, box-shadow 0.2s;
    }
  
    .input__field {
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      background: transparent;
      border: none;
      outline: none;
  
      /* iOS fix */
      -webkit-appearance: none;
      appearance: none;
  
      /* Number input fix */
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Mobile keyboard type */
      inputmode: numeric;
    }
  }
  
  @media (max-width: 400px) {
    .phone_picker_custom .sms-code__row .sms-code__row-prefix  {
      padding: 10px;
    }
  }