:root {
  --ion-document-card-bg: rgba(255, 255, 255, 1);
  --ion-document-card-otp-bg: #f1f4f7;
  --ion-document-card-danger-bg: rgba(239, 68, 68, 0.1);
  --ion-document-card-text-color: #1e1e1e;
}

:root.dark {
  --ion-document-card-bg: rgba(28, 30, 36, 1);
  --ion-document-card-otp-bg: #30333a;
  --ion-document-card-danger-bg: rgba(239, 68, 68, 0.15);
  --ion-document-card-text-color: #ffffff;
}



.documents-card {
    border-radius: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--ion-document-card-bg);
    color: var(--ion-document-card-text-color);

    &__item{
        display: flex;
        flex-direction: column;
        gap: 2px;

        &__label{
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            color: rgba(156, 163, 175, 1);
        }

        &__value{
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            color: var(--ion-document-card-text-color);
        }
    }
}