$SFProText-Light: '../fonts/SFProText-Light';
$SFProText-LightItalic: '../fonts/SFProText-LightItalic.ttf';
$SFProText-Regular: '../fonts/SFProText-Regular.ttf';
$SFProText-RegularItalic: '../fonts/SFProText-RegularItalic.ttf';
$SFProText-Medium: '../fonts/SFProText-Medium.ttf';
$SFProText-MediumItalic: '../fonts/SFProText-MediumItalic.ttf';
$SFProText-Semibold: '../fonts/SFProText-Semibold.ttf';
$SFProText-SemiboldItalic: '../fonts/SFProText-SemiboldItalic.ttf';
$SFProText-Bold: '../fonts/SFProText-Bold.ttf';
$SFProText-BoldItalic: '../fonts/SFProText-BoldItalic.ttf';
$SFProText-Heavy: '../fonts/SFProText-Heavy.ttf';
$SFProText-HeavyItalic: '../fonts/SFProText-HeavyItalic.ttf';

@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: 'SF Pro Text';
  src: url($SFProText-Light) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 100;
  font-family: 'SF Pro Text';
  src: url($SFProText-LightItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: 'SF Pro Text';
  src: url($SFProText-Light) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 200;
  font-family: 'SF Pro Text';
  src: url($SFProText-LightItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'SF Pro Text';
  src: url($SFProText-Regular) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 300;
  font-family: 'SF Pro Text';
  src: url($SFProText-RegularItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'SF Pro Text';
  src: url($SFProText-Regular) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: 'SF Pro Text';
  src: url($SFProText-RegularItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'SF Pro Text';
  src: url($SFProText-Regular) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: normal;
  font-family: 'SF Pro Text';
  src: url($SFProText-RegularItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'SF Pro Text';
  src: url($SFProText-Medium) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 500;
  font-family: 'SF Pro Text';
  src: url($SFProText-MediumItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'SF Pro Text';
  src: url($SFProText-Semibold) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 600;
  font-family: 'SF Pro Text';
  src: url($SFProText-SemiboldItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: 'SF Pro Text';
  src: url($SFProText-Bold) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: bold;
  font-family: 'SF Pro Text';
  src: url($SFProText-BoldItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'SF Pro Text';
  src: url($SFProText-Bold) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: 'SF Pro Text';
  src: url($SFProText-BoldItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'SF Pro Text';
  src: url($SFProText-Bold) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 800;
  font-family: 'SF Pro Text';
  src: url($SFProText-BoldItalic) format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'SF Pro Text';
  src: url($SFProText-Heavy) format('truetype');
}

@font-face {
  font-style: italic;
  font-weight: 900;
  font-family: 'SF Pro Text';
  src: url($SFProText-HeavyItalic) format('truetype');
}