:root {
  --account-selector-bg: rgba(255, 255, 255, 1);
  --account-selector-icon: #1C1E24;
  --account-selector-label-color: #1C1E24;
}

:root.dark {
  --account-selector-bg: rgba(28, 30, 36, 1);
  --account-selector-icon: #fff;
  --account-selector-label-color: #F5F5F5;
}




.account-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: var(--account-selector-bg);
  border-radius: 16px;

  &-left {
    display: flex;
    align-items: center;
    gap: 12px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: var(--ion-bg);
    }

    &-account {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &-name {
        font-size: 16px;
      }

      &-card {
        color: var(--ion-secondary-text);
        font-size: 12px;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 4px;

    &-amount {
      font-size: 16px;
    }

    svg {
      color: var(--ion-secondary-text);
      width: 20px;
      height: 20px;
    }
  }
}