:root {
  --title-error: #991B1B;
  --toast-title: #fff;
  --toast-bg: #1C1E24;
  --subtitle: #9CA3AF;
  --toast-bg-success: #DCFCE7;
  --toast-bg-warning: #F59E0B26;
  --toast-bg-error: #FEE2E2;
  --toast-bg-info: #00284D;
}

:root.dark {
  --title-error: #991B1B;
  --toast-title: #1C1E24;
  --toast-bg: #fff;
  --subtitle: #6B7280;
  --toast-bg-success: #0E3A1F;
  --toast-bg-warning: rgba(245, 158, 11, 0.15);
  --toast-bg-error: #5F1616;
  --toast-bg-info: #DBEEFF;
}


.Toastify__toast--warning {
  max-width: calc(100% - 32px);
  margin: 15px auto 0;
  border-radius: 14px !important;
  background: var(--toast-bg) !important;
  backdrop-filter: blur(7.5px) !important;

  .toast-icon {
    background: var(--toast-bg-warning);
  }
}

.Toastify__toast--success {
  max-width: calc(100% - 32px);
  margin: 15px auto 0;
  border-radius: 14px !important;
  background: var(--toast-bg) !important;
  backdrop-filter: blur(7.5px) !important;
  color: var(--toast-title);

  .toast-icon {
    background: var(--toast-bg-success);
  }
}

.Toastify__toast--info {
  max-width: calc(100% - 32px);
  margin: 15px auto 0;
  border-radius: 14px !important;
  background: var(--toast-bg) !important;
  backdrop-filter: blur(7.5px) !important;

  .toast-icon {
    background: var(--toast-bg-info);
  }
}

.Toastify__toast--error {
  max-width: calc(100% - 32px);
  margin: 15px auto 0;
  border-radius: 14px !important;
  border: 1px solid #FEF2F2 !important;
  background: var(--toast-bg) !important;
  backdrop-filter: blur(7.5px) !important;

  .toast-icon {
    background: var(--toast-bg-error) !important;
  }

  .toast-title {
    color: var(--title-error)
  }
}

.toast-icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
}

.toast-title {
  max-width: 270px;
  word-break: break-all;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--toast-title);
}

.toast-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  .toast-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--subtitle);
    margin-top: 5px;
  }
}

.toast-stories-buttons{
  display: flex;
  gap: 10px;

  button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    &:hover {
      opacity: 0.8;
    }
  }

  &__success{
    background-color: #0E3A1F;
  }
  &__error{
    background-color: #991B1B;
  }
  &__warning{
    background-color: #00284D;
  }
  &__info{
    background-color: #f59f0b8e;
  }
}

